/* Quick reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* A nice BG gradient */
html {
	height: 100%;
	background: white radial-gradient(circle, #999 20%, #777);
	background-size: cover;
	font: bold 14px 'Open Sans', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
}

#calculator {
	width: 326px;
	height: auto;
	
	margin: 100px auto;
	padding: 20px 20px 9px;
	
	background: #26a69a;
	border-radius: 3px;
}

/* Top portion */
.top span.clear {
	float: left;
}

.top .screen {
	height: 40px;
	width: 212px;
	float: right;
	padding: 0 10px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;

	font-size: 16px;
	line-height: 40px;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}

/* Clear floats */
.keys, .top {overflow: hidden;}

.keys span, .top span.clear {
	float: left;
	position: relative;
	top: 0;
	cursor: pointer;
	width: 66px;
	height: 36px;
	background: white;
	border-radius: 3px;
	margin: 0 7px 11px 0;
	color: #888;
	line-height: 36px;
	text-align: center;
	/* prevent selection of text inside keys */
	user-select: none;
	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}

/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
.keys span.operator {
	background: #FFF8E2;
	margin-right: 0;
}

.keys span.eval {
	background: #8bc34a;;	
	color: #333;
}

.top span.clear {
	background: #f68991; 
	color: white;
}

/* Some hover effects */
.keys span:hover {
	background: #03a9f4;	
	color: white;
}

.keys span.operator:hover {
	background: #FDB22B;
	margin-right: 0;
	color: white;
}

.keys span.eval:hover {
	background: #abb850;
	color: #ffffff;
}

.top span.clear:hover {
	background: #e51c23;
	color: white;
}

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.keys span:active, span.eval:active, span.clear:active  {
	top: 2px;
}
